# Environment variables
.env
.env.test.local
.env.*.local

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.tmp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# Generated database types (copied from supabase/)
frontend/src/types/database.types.ts

# supabase
supabase/migrations/20241207004612_cron_dev.sql
supabase/prod-migrations/*

.firebaserc
.envrc

# Supabase
/.branches/
.branches/**
.temp/

# Other
*.crt
supabase/seed.sql
reset_databases.sh
